<app-header></app-header>
<div class="content">
  <div class="card half">
    <div class="more-info">
      <div class="main">
        <div class="dashed-text">
          Средства бизнеса
        </div>
        <div class="text"
             style="margin-top: 16px;">
          10 150 000.<span>00</span><span> ₽</span>
        </div>
      </div>
      <div style="width: 240px;">
        <div class="dashed-text">
          Доход
        </div>
        <div class="text"
             style="margin-top: 16px;">
          226 000.<span>00</span><span> ₽</span>
        </div>
      </div>
      <div style="width: 240px;">
        <div class="dashed-text">
          Расход
        </div>
        <div class="text"
             style="margin-top: 16px;
    color: #e60028;">
          - 150 000.<span>00</span><span> ₽</span>
        </div>
      </div>
    </div>
    <div class="addIndividualDataBlock clickWrapper" id="id27">
      <h1>Добавить</h1>
      <p>Отражение счетов, карт, продуктов как физического лица</p>
    </div>
  </div>
  <div class="tabs">
    <ul>
      <li (click)="switchTab('history')" [class.active]="currentTab==='history'">Операции</li>
      <li (click)="switchTab('accounts')" [class.active]="currentTab==='accounts'">Счета</li>
      <li>Бухгалтерия</li>
    </ul>
    <div style="display: flex;
    align-items: center;">
      <app-show-offers></app-show-offers>
      <button style="border: none;
    background-color: transparent;
    margin-left: 24px;
    cursor: pointer;"><img src="../../assets/icons/ic_settings.svg"/></button>
    </div>
  </div>
  <ng-container [ngSwitch]="currentTab">
    <app-operations-history *ngSwitchCase="'history'"></app-operations-history>
    <app-bank-accounts *ngSwitchCase="'accounts'"></app-bank-accounts>
  </ng-container>
</div>
