<div class="header">
  <div class="content">
    <div class="nav">
      <div style="display: flex;">
        <img src="../../assets/logo.svg"/>
        <ul class="nav-menu">
          <li class="nav-link active">Финансы</li>
          <li class="nav-link">Аналитика</li>
          <li class="nav-link">Контрагенты</li>
        </ul>
      </div>
      <div class="user-info">
        <div class="notifications"></div>
        <div class="ava"></div>
      </div>
    </div>
  </div>
</div>
<div class="content">
  <div class="card half">
    <div class="more-info">
      <div class="dashed-text" style="
    padding: 42px 0 0 24px;">
        Средства бизнеса
      </div>
      <div class="text"
           style="    margin-left: 24px;    margin-top: 16px;">
        10 150 000.<span>00</span><span> ₽</span>
      </div>
    </div>
    <div class="addIndividualDataBlock clickWrapper" id="id27">
      <h1>Добавить</h1>
      <p>Отражение счетов, карт, продуктов как физического лица</p>
    </div>
  </div>
  <div class="tabs">
    <ul>
      <li class="active">Операции</li>
      <li>Счета</li>
      <li>Бухгалтерия</li>
    </ul>
  </div>
  <div class="card">
    <ul class="list">
      <li>
        <div class="datetime">
          <div>23 августа</div>
          <div>09:35</div>
        </div>
        <div class="type">
          <img src="../../assets/color_icons/acquiring.svg"/>
        </div>
        <div>
          <span class="title">Индивидуальный предприниматель Ivanov Alexey Sidorovich</span>
          <span class="description">Доплата по СЧёТУ № 321 от 29 мая 2018 г. НДС не облагается.</span>
        </div>
        <div class="text" style="margin-left: 24px;">
          500 500.<span>00</span><span> ₽</span>
        </div>
        <button><img src="../../assets/icons/chevron.svg"/></button>
      </li>
      <li>
        <div class="datetime">
          <div>23 августа</div>
          <div>09:35</div>
        </div>
        <div class="type">
          <img src="../../assets/color_icons/acquiring.svg"/>
        </div>
        <div>
          <span class="title">Индивидуальный предприниматель Ivanov Alexey Sidorovich</span>
          <span class="description">Доплата по СЧёТУ № 321 от 29 мая 2018 г. НДС не облагается.</span>
        </div>
        <div class="text" style="margin-left: 24px;">
          500 500.<span>00</span><span> ₽</span>
        </div>
        <button><img src="../../assets/icons/chevron.svg"/></button>
      </li>
      <li>
        <div class="datetime">
          <div>23 августа</div>
          <div>09:35</div>
        </div>
        <div class="type">
          <img src="../../assets/color_icons/acquiring.svg"/>
        </div>
        <div>
          <span class="title">Индивидуальный предприниматель Ivanov Alexey Sidorovich</span>
          <span class="description">Доплата по СЧёТУ № 321 от 29 мая 2018 г. НДС не облагается.</span>
        </div>
        <div class="text" style="margin-left: 24px;">
          500 500.<span>00</span><span> ₽</span>
        </div>
        <button><img src="../../assets/icons/chevron.svg"/></button>
      </li>
      <li>
        <div class="datetime">
          <div>23 августа</div>
          <div>09:35</div>
        </div>
        <div class="type">
          <img src="../../assets/color_icons/acquiring.svg"/>
        </div>
        <div>
          <span class="title">Индивидуальный предприниматель Ivanov Alexey Sidorovich</span>
          <span class="description">Доплата по СЧёТУ № 321 от 29 мая 2018 г. НДС не облагается.</span>
        </div>
        <div class="text" style="margin-left: 24px;">
          500 500.<span>00</span><span> ₽</span>
        </div>
        <button><img src="../../assets/icons/chevron.svg"/></button>
      </li>
      <li>
        <div class="datetime">
          <div>23 августа</div>
          <div>09:35</div>
        </div>
        <div class="type">
          <img src="../../assets/color_icons/acquiring.svg"/>
        </div>
        <div>
          <span class="title">Индивидуальный предприниматель Ivanov Alexey Sidorovich</span>
          <span class="description">Доплата по СЧёТУ № 321 от 29 мая 2018 г. НДС не облагается.</span>
        </div>
        <div class="text" style="margin-left: 24px;">
          500 500.<span>00</span><span> ₽</span>
        </div>
        <button><img src="../../assets/icons/chevron.svg"/></button>
      </li>
    </ul>
  </div>
</div>
