<div class="footerWrapper">
  <div class="footer">
    <div class="footerRow">
      <div class="footerBlock phones">
        <div class="bankPhone">
          <a class="phone" href="tel:88007707500">8 800 770 75 00</a>
          <p class="description">
            бесплатно и круглосуточно
          </p>
        </div>
        <div class="bankPhone">
          <div class="phone">
            *5434 с мобильного
          </div>
          <p class="description">
            бесплатно в регионах присутствия
          </p>
        </div>
      </div>
      <div class="footerBlock references">
        <a id="idcc" href="javascript:" class="actionOfficesAndATMs">
          Отделения и банкоматы
        </a>

        <a id="idcd" href="javascript:" class="actionExchangeRates">
          Курсы валют
        </a>


      </div>
      <div class="footerBlock">
        <div class="nativeApplications">
          <a href="#" class="ios">ios</a>
          <a href="#" class="android">android</a>
          <p>Мобильное приложение</p>
        </div>

        <div class="language actionBar">


          <a id="idce" href="javascript:" class="actionEn">
            English
          </a>

        </div>

      </div>
    </div>
    <div class="footerRow">
      <div class="footerBlock copyright">
        © 2007 — 2018 ПАО РОСБАНК, Генеральная лицензия №2272 от 28.01.15
      </div>
      <div class="footerBlock social">
        <p>Поделиться</p>
        <a href="https://www.facebook.com/rosbank/" target="_blank" class="facebook">facebook</a>
        <a href="https://twitter.com/Rosbank_Info" target="_blank" class="twitter">twitter</a>
        <a href="http://vk.com/rosbank" target="_blank" class="vk">vk</a>
      </div>
    </div>
  </div>
</div>
