<div (click)="showMenu()" style="    display: flex;
    justify-content: space-between;
    padding: 16px 24px;
    min-height: 24px;">
  <div *ngIf="!_selectedItemValues">{{placeHolder}}</div>
  <div *ngIf="_selectedItemValues">
    <ng-container *ngIf="_selectedItemValues.length === 0">{{_selectedItemValues[0]}}</ng-container>
    <ng-container *ngIf="_selectedItemValues.length > 0">{{_selectedItemValues.length}} типов</ng-container>
  </div>
  <button>
    <img *ngIf="!showList" src="../../../assets/icons/chevron.svg"/>
    <img *ngIf="showList" style="transform: rotate(180deg)" src="../../../assets/icons/chevron.svg"/>
  </button>
</div>
<ul class="menu" [style.height.px]="height" style="margin-top: -10px;
    overflow: hidden;
    transition: height 0.5s ease 0s;">
  <li class="menu-item" *ngFor="let item of itemGroups">
    <div class="sub-menu-title">
      {{item.title}}
    </div>
    <ul class="sub-menu">
      <li class="sub-menu-item" *ngFor="let subItems of item.items">
        <label>
          <input type="checkbox"/>
          <img class="checked" src="../../../assets/icons/checkbox_active.svg"/>
          <img class="not-checked" src="../../../assets/icons/checkbox.svg"/>
          <div class="title">
            {{subItems.title}}
          </div>
        </label>
      </li>
    </ul>
  </li>
</ul>
