
a {
  font-family: Roboto;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 0.7px;
  text-align: center;
  color: #e60028;
  cursor: pointer;
  opacity: 0.5;
  text-transform: uppercase;
  transition: .3s opacity;
  text-decoration: none;
  &:hover {
    opacity: 1;
  }
}
