<div class="header">
  <div class="content">
    <div class="nav">
      <div style="display: flex;">
        <img src="../../../assets/logo.svg"/>
        <ul class="nav-menu">
          <li class="nav-link active">Финансы</li>
          <li class="nav-link">Аналитика</li>
          <li class="nav-link">Контрагенты</li>
        </ul>
      </div>
      <div class="user-info">
        <img class="notifications" src="../../../assets/icons/notification_centre.svg"/>
        <img class="ava" src="../../../assets/icons/ava.svg"/>
      </div>
    </div>
  </div>
</div>
