<!-- <app-header></app-header> -->
<div class="content">
  <div class="card" style="height: 500px;
    padding: 60px;
    box-sizing: border-box;">
    <form [formGroup]="form" (submit)="onSubmit()">
      <h2>Инструмент создания персонального предложения</h2>
      <div class='admin-dropdown admin-item'>
        <mat-select placeholder="Выбрать шаблон пользователя" class="dropdown" formControlName="userTemplate">
          <mat-option value="{{template.id}}" *ngFor="let template of templates">{{template.name}}</mat-option>
        </mat-select>
      </div>
      <div class='admin-dropdown admin-item'>
        <mat-select placeholder="Выбрать услугу" class="dropdown" formControlName="service">
          <mat-option value="{{service.id}}" *ngFor="let service of services">{{service.name}}</mat-option>
        </mat-select>
      </div>
      <div class="admin-item">
        <input style="padding: 12px;
    width: 100%;" type="text" formControlName="text"/>
      </div>
      <div>
        <input class="btn btn-primary" type="submit"/>
      </div>
    </form>
  </div>
</div>
