<div class="content">
  <div class="card" style="height: 500px;">
    <h2>Работа с портретом клиента</h2>
    <form [formGroup]="form" (submit)="onSubmit()">
      <div class='admin-dropdown admin-item'>

        <mat-select formControlName="service" placeholder="Выбрать пользователя">
          <mat-option value="{{user.id}}" *ngFor="let user of users">{{user.name}}</mat-option>
        </mat-select>
      </div>
      <div class='admin-dropdown admin-item'>
        <mat-select formControlName="userTemplate" placeholder=" Выбрать шаблон пользователя">
          <mat-option value="{{template.id}}" *ngFor="let template of templates">{{template.name}}</mat-option>
        </mat-select>
      </div>
      <input class="btn btn-primary" type="submit" value="Сохранить" />
    </form>
  </div>
</div>