<div class="card" style="width: 760px;">
  <div class="operation-tabs" style="padding: 0 24px;">
    <ul>
      <li class="active">Исполненные</li>
      <li>Отклоненные</li>
      <li>В работе</li>
      <li>Ограничения</li>
    </ul>
    <button class="btn btn-primary">Новый перевод</button>
  </div>
  <ul class="list">
    <li>
      <div class="datetime">
        <div>23 августа</div>
        <div>09:35</div>
      </div>
      <div class="type">
        <img src="../../assets/color_icons/acquiring.svg"/>
      </div>
      <div style="width: 300px;">
        <span class="title">Индивидуальный предприниматель Ivanov Alexey Sidorovich</span>
        <span class="description">Доплата по СЧёТУ № 321 от 29 мая 2018 г. НДС не облагается.</span>
      </div>
      <div class="text">
        500 500.<span>00</span><span> ₽</span>
      </div>
      <button><img src="../../assets/icons/chevron.svg"/></button>
    </li>
    <li>
      <div class="datetime">
        <div>23 августа</div>
        <div>09:35</div>
      </div>
      <div class="type">
        <img src="../../assets/color_icons/acquiring.svg"/>
      </div>
      <div style="width: 300px;">
        <span class="title">Индивидуальный предприниматель Ivanov Alexey Sidorovich</span>
        <span class="description">Доплата по СЧёТУ № 321 от 29 мая 2018 г. НДС не облагается.</span>
      </div>
      <div class="text">
        500 500.<span>00</span><span> ₽</span>
      </div>
      <button><img src="../../assets/icons/chevron.svg"/></button>
    </li>
    <li>
      <div class="datetime">
        <div>23 августа</div>
        <div>09:35</div>
      </div>
      <div class="type">
        <img src="../../assets/color_icons/acquiring.svg"/>
      </div>
      <div style="width: 300px;">
        <span class="title">Индивидуальный предприниматель Ivanov Alexey Sidorovich</span>
        <span class="description">Доплата по СЧёТУ № 321 от 29 мая 2018 г. НДС не облагается.</span>
      </div>
      <div class="text">
        500 500.<span>00</span><span> ₽</span>
      </div>
      <button><img src="../../assets/icons/chevron.svg"/></button>
    </li>
    <li>
      <div class="datetime">
        <div>23 августа</div>
        <div>09:35</div>
      </div>
      <div class="type">
        <img src="../../assets/color_icons/acquiring.svg"/>
      </div>
      <div style="width: 300px;">
        <span class="title">Индивидуальный предприниматель Ivanov Alexey Sidorovich</span>
        <span class="description">Доплата по СЧёТУ № 321 от 29 мая 2018 г. НДС не облагается.</span>
      </div>
      <div class="text">
        500 500.<span>00</span><span> ₽</span>
      </div>
      <button><img src="../../assets/icons/chevron.svg"/></button>
    </li>
    <li>
      <div class="datetime">
        <div>23 августа</div>
        <div>09:35</div>
      </div>
      <div class="type">
        <img src="../../assets/color_icons/acquiring.svg"/>
      </div>
      <div style="width: 300px;">
        <span class="title">Индивидуальный предприниматель Ivanov Alexey Sidorovich</span>
        <span class="description">Доплата по СЧёТУ № 321 от 29 мая 2018 г. НДС не облагается.</span>
      </div>
      <div class="text">
        500 500.<span>00</span><span> ₽</span>
      </div>
      <button><img src="../../assets/icons/chevron.svg"/></button>
    </li>
    <li>
      <div class="datetime">
        <div>23 августа</div>
        <div>09:35</div>
      </div>
      <div class="type">
        <img src="../../assets/color_icons/acquiring.svg"/>
      </div>
      <div style="width: 300px;">
        <span class="title">Индивидуальный предприниматель Ivanov Alexey Sidorovich</span>
        <span class="description">Доплата по СЧёТУ № 321 от 29 мая 2018 г. НДС не облагается.</span>
      </div>
      <div class="text">
        500 500.<span>00</span><span> ₽</span>
      </div>
      <button><img src="../../assets/icons/chevron.svg"/></button>
    </li>
    <li>
      <div class="datetime">
        <div>23 августа</div>
        <div>09:35</div>
      </div>
      <div class="type">
        <img src="../../assets/color_icons/acquiring.svg"/>
      </div>
      <div style="width: 300px;">
        <span class="title">Индивидуальный предприниматель Ivanov Alexey Sidorovich</span>
        <span class="description">Доплата по СЧёТУ № 321 от 29 мая 2018 г. НДС не облагается.</span>
      </div>
      <div class="text">
        500 500.<span>00</span><span> ₽</span>
      </div>
      <button><img src="../../assets/icons/chevron.svg"/></button>
    </li>
    <li>
      <div class="datetime">
        <div>23 августа</div>
        <div>09:35</div>
      </div>
      <div class="type">
        <img src="../../assets/color_icons/acquiring.svg"/>
      </div>
      <div style="width: 300px;">
        <span class="title">Индивидуальный предприниматель Ivanov Alexey Sidorovich</span>
        <span class="description">Доплата по СЧёТУ № 321 от 29 мая 2018 г. НДС не облагается.</span>
      </div>
      <div class="text">
        500 500.<span>00</span><span> ₽</span>
      </div>
      <button><img src="../../assets/icons/chevron.svg"/></button>
    </li>
    <li>
      <div class="datetime">
        <div>23 августа</div>
        <div>09:35</div>
      </div>
      <div class="type">
        <img src="../../assets/color_icons/acquiring.svg"/>
      </div>
      <div style="width: 300px;">
        <span class="title">Индивидуальный предприниматель Ivanov Alexey Sidorovich</span>
        <span class="description">Доплата по СЧёТУ № 321 от 29 мая 2018 г. НДС не облагается.</span>
      </div>
      <div class="text">
        500 500.<span>00</span><span> ₽</span>
      </div>
      <button><img src="../../assets/icons/chevron.svg"/></button>
    </li>
    <li>
      <div class="datetime">
        <div>23 августа</div>
        <div>09:35</div>
      </div>
      <div class="type">
        <img src="../../assets/color_icons/acquiring.svg"/>
      </div>
      <div style="width: 300px;">
        <span class="title">Индивидуальный предприниматель Ivanov Alexey Sidorovich</span>
        <span class="description">Доплата по СЧёТУ № 321 от 29 мая 2018 г. НДС не облагается.</span>
      </div>
      <div class="text">
        500 500.<span>00</span><span> ₽</span>
      </div>
      <button><img src="../../assets/icons/chevron.svg"/></button>
    </li>
    <li>
      <div class="datetime">
        <div>23 августа</div>
        <div>09:35</div>
      </div>
      <div class="type">
        <img src="../../assets/color_icons/acquiring.svg"/>
      </div>
      <div style="width: 300px;">
        <span class="title">Индивидуальный предприниматель Ivanov Alexey Sidorovich</span>
        <span class="description">Доплата по СЧёТУ № 321 от 29 мая 2018 г. НДС не облагается.</span>
      </div>
      <div class="text">
        500 500.<span>00</span><span> ₽</span>
      </div>
      <button><img src="../../assets/icons/chevron.svg"/></button>
    </li>
    <li>
      <div class="datetime">
        <div>23 августа</div>
        <div>09:35</div>
      </div>
      <div class="type">
        <img src="../../assets/color_icons/acquiring.svg"/>
      </div>
      <div style="width: 300px;">
        <span class="title">Индивидуальный предприниматель Ivanov Alexey Sidorovich</span>
        <span class="description">Доплата по СЧёТУ № 321 от 29 мая 2018 г. НДС не облагается.</span>
      </div>
      <div class="text">
        500 500.<span>00</span><span> ₽</span>
      </div>
      <button><img src="../../assets/icons/chevron.svg"/></button>
    </li>
    <li>
      <div class="datetime">
        <div>23 августа</div>
        <div>09:35</div>
      </div>
      <div class="type">
        <img src="../../assets/color_icons/acquiring.svg"/>
      </div>
      <div style="width: 300px;">
        <span class="title">Индивидуальный предприниматель Ivanov Alexey Sidorovich</span>
        <span class="description">Доплата по СЧёТУ № 321 от 29 мая 2018 г. НДС не облагается.</span>
      </div>
      <div class="text">
        500 500.<span>00</span><span> ₽</span>
      </div>
      <button><img src="../../assets/icons/chevron.svg"/></button>
    </li>
    <li>
      <div class="datetime">
        <div>23 августа</div>
        <div>09:35</div>
      </div>
      <div class="type">
        <img src="../../assets/color_icons/acquiring.svg"/>
      </div>
      <div style="width: 300px;">
        <span class="title">Индивидуальный предприниматель Ivanov Alexey Sidorovich</span>
        <span class="description">Доплата по СЧёТУ № 321 от 29 мая 2018 г. НДС не облагается.</span>
      </div>
      <div class="text">
        500 500.<span>00</span><span> ₽</span>
      </div>
      <button><img src="../../assets/icons/chevron.svg"/></button>
    </li>
    <li>
      <div class="datetime">
        <div>23 августа</div>
        <div>09:35</div>
      </div>
      <div class="type">
        <img src="../../assets/color_icons/acquiring.svg"/>
      </div>
      <div style="width: 300px;">
        <span class="title">Индивидуальный предприниматель Ivanov Alexey Sidorovich</span>
        <span class="description">Доплата по СЧёТУ № 321 от 29 мая 2018 г. НДС не облагается.</span>
      </div>
      <div class="text">
        500 500.<span>00</span><span> ₽</span>
      </div>
      <button><img src="../../assets/icons/chevron.svg"/></button>
    </li>
    <li>
      <div class="datetime">
        <div>23 августа</div>
        <div>09:35</div>
      </div>
      <div class="type">
        <img src="../../assets/color_icons/acquiring.svg"/>
      </div>
      <div style="width: 300px;">
        <span class="title">Индивидуальный предприниматель Ivanov Alexey Sidorovich</span>
        <span class="description">Доплата по СЧёТУ № 321 от 29 мая 2018 г. НДС не облагается.</span>
      </div>
      <div class="text">
        500 500.<span>00</span><span> ₽</span>
      </div>
      <button><img src="../../assets/icons/chevron.svg"/></button>
    </li>
  </ul>
</div>
<div class="filter">
  <ul>
    <li>
      <input placeholder="Поиск"/>
      <button style="height: 24px; width: 24px;
    position: absolute;
    right: 24px;"><img src="../../assets/icons/search.svg"/></button>
    </li>
    <li>
      <div>Период</div>
      <button><img src="../../assets/icons/chevron.svg"/></button>
    </li>
    <li>
      <div>Счета</div>
      <button><img src="../../assets/icons/chevron.svg"/></button>
    </li>
    <li style="padding: 0;">
      <app-select-operation-type></app-select-operation-type>
    </li>
  </ul>
</div>
