@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Rubik');

* {
  padding: 0;
  margin: 0
}

body {
  background: #eef2f5;
}

.content {
  width: 1024px;
  margin: 0 auto;
}

.card {
  width: 1024px;
  border-radius: 8px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  margin-bottom: 32px;
  &.half {
    border-radius: 8px;
    box-shadow: 0 2px 20px #d2d2d2;
    background-color: #f6f8f9;
    display: flex;
    .more-info {
      padding: 42px 24px;
      background-color: white;
      width: 760px;
      border-radius: 8px;
      position: relative;
      z-index: 1;
      box-shadow: 0 2px 20px 0 #d2d2d2;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      .main {
        border-right: 1px solid #d5dbe0;
        width: fit-content;
        padding-right: 14px;
        margin-right: 24px;
      }
    }
  }
}

.btn.btn-primary {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  transition: color 300ms ease, background 300ms ease, border 300ms ease, box-shadow 300ms ease;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  letter-spacing: .6px;
  max-height: 40px;
  padding: 13px 16px;
  border-radius: 4px;
  font-size: 12px;
  text-decoration: none;
  cursor: pointer;
  background-color: #e60028;
  border: 1px solid #e60028;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  &:hover {
    box-shadow: 0 2px 10px #e61739;
    border: 1px solid #e61739;
  }
}

.text {
  font-family: Rubik;
  font-size: 26px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: left;
  color: #2d2f38;
  span:first-of-type {
    font-size: 16px;
    font-weight: bold;
  }
  span:last-of-type {
    font-weight: 500;
  }
}
